p.ocultar{ 
    display: none; 
    background-color: yellow; 
    padding: 20px; 
} 
div:hover p.ocultar {
     display: block;
}
/* Pseudoclass first child */
div p:first-child{
    color:brown;
}
/* Pseudoelemento first line.Selecciona la primera linea de un elemento*/
p.primeralinea::first-line{
    font-size: 2em;
}
p.sangriaprimeralinea::first-line{
    text-indent: 2em;
}
/* Pseudoelemento first letter */
p.primeraletra::first-letter{
    font-size: 3em;
}
/* Pseudoelemento before*/
h6::before{
    content:"Elemento - ";
}
/* Pseudoelemento after*/
h5::after{
    content:" - Videojuego ";
}
/* Pseudoelemento selection*/
::selection{
    color:red;
   
}